In [1]:
a=123
b=-345
c=0.0

123

In [2]:
str="hello world"
print(str)

hello world

In [3]:
type(str)

str

In [5]:
a = 'Python'
b = ' is very easy'
a + b

'Python is very easy'

In [6]:
a*2

'PythonPython'

In [8]:
a = '='*50
a

'=================================================='

In [9]:
b = "My program"
print(a + "\n" + b + "\n" + a)

==================================================
My program
==================================================

In [10]:
a = "Python is very easy."
a[-5]

'e'

In [12]:
b = a[10] + a[11] + a[12] + a[14]
b

'ver '

In [19]:
b = a[0:-1]
b

'Python is very easy'

In [20]:
a = 'Pithon'
a

'Pithon'

In [21]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [22]:
a[:1] + 'y' + a[2:]

'Python'

In [24]:
"I eat %d banana" % 2

'I eat 2 banana'

In [27]:
"I eat %s banana" % "2"

'I eat 2 banana'

In [30]:
number = 2
" I eat %d banana" % number

' I eat 2 banana'

In [31]:
day = "two"
"I ate %d bananas, so I was sick for %s days." % (number, day)

'I ate 2 bananas, so I was sick for two days.'

In [32]:
"%10s" %"apple"

'     apple'

In [33]:
"%-10s banana" % "apple"

'apple      banana'

In [36]:
"%0.4f" % 3.141592

'3.1416'

In [37]:
"%5.4f" % 12.1201234532424

'12.1201'

In [38]:
"I eat {0} banana.".format(2)

'I eat 2 banana.'

In [39]:
"I eat {} banana.".format(2)

'I eat 2 banana.'

In [40]:
"I eat {0} banana.".format("python")

'I eat python banana.'

In [42]:
number = "two"
"I eat {} banana.".format(number)

'I eat two banana.'

In [43]:
number = 12
day = "two"
"I ate {1} banana, so I was sick for {0} days.".format(number, day)

'I ate two banana, so I was sick for 12 days.'

In [44]:
"I ate {number} banana, so I was sick for {day} days.".format(number = 12, day = 'two')

'I ate 12 banana, so I was sick for two days.'

In [47]:
day = "two"
"I ate {} banana, so I was sick for {} days.".format(number, day)

'I ate 12 banana, so I was sick for two days.'

In [49]:
"{0:<10}".format("hi")

'hi        '

In [50]:
"{0:>10}".format("hi")

'        hi'

In [51]:
"{0:^10}".format("hi") # 가운데 정렬

'    hi    '

In [52]:
"{0:=^10}".format("hi")

'====hi===='

In [53]:
"{0:_^10}".format("hi")

'____hi____'

In [54]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [55]:
"{0:!>10}".format("hi")

'!!!!!!!!hi'

In [56]:
number = 12
day = 'two'
f"I ate {number} ---- {day} days."

'I ate 12 ---- two days.'

In [57]:
number = 'str'
f"I ate {number*5} bananas."

'I ate strstrstrstrstr bananas.'

In [58]:
f"{'hi':<10}"

'hi        '

In [59]:
f"{'hi':^10}"

'    hi    '

In [60]:
f"{'hi':^^10}"

'^^^^hi^^^^'

In [62]:
a = 'appleapple'
a.count('p')

4

In [63]:
a = 'hope'
a.find("p")

2

In [64]:
a.find("e")

3

In [65]:
a = "hope"
a.index("p")

2

In [68]:
a.find("a")

-1

In [69]:
",".join("abcd")

'a,b,c,d'

In [70]:
"E".join("abcd")

'aEbEcEd'

In [71]:
a= "hi"
a.upper()

'HI'

In [72]:
a.lower()

'hi'

In [73]:
a = " hi "
a.lstrip()

'hi '

In [74]:
a.rstrip()

' hi'

In [75]:
a.strip()

'hi'

In [79]:
a = "pithon"
a = a.replace("i", "y")
a

'python'

In [80]:
b = "apple"
b = b.replace("p", "z")
b

'azzle'

In [81]:
a = "Life is totototo sadfast"
b = a.split()
b

['Life', 'is', 'totototo', 'sadfast']

In [83]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

In [84]:
data = {1, 2, 3, 4, 5}
data

{1, 2, 3, 4, 5}

In [86]:
a = []
b = [1,2,3]
c = ["afsafd", "dabasd"]
d = [1, 2, "asfifje", "wqdgas"]
e = [1, 2, ["asfifje", "wqdgas"]]

In [87]:
data = [1, 2, 3, 4, 5]
data[0]

1

In [88]:
data[0] + data[4]

6

In [89]:
data[3] / data [1]

2.0

In [90]:
data[-1]

5

In [91]:
data[-2] / data[1]

2.0

In [97]:
data = [1,2,3,['a','b','c']]
data[-1][-1]

'c'

In [98]:
data = [1,2,['a','b',["Life","is"]]]
data[2]

['a', 'b', ['Life', 'is']]

In [99]:
data[2][2]

['Life', 'is']

In [101]:
data[-1][-1][0]

'Life'

In [102]:
data = [1,2,3,4,5]
data[0:2]

[1, 2]

In [103]:
a = "12345"
a[0:2]

'12'

In [104]:
b = data[:2]
b

[1, 2]

In [106]:
b = data[2:]
b

[3, 4, 5]

In [107]:
a = [1, 2, 3, ['a','b','c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [108]:
a[3][:2]

['a', 'b']

In [109]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [110]:
a = [1, 2, 3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [111]:
a = [1,2,3]
len(a)

3

In [112]:
a[2]=4
a

[1, 2, 4]

In [113]:
del a[1]

In [114]:
a

[1, 4]

In [115]:
b = [1,2,3,4,5]
del b[2:]
b

[1, 2]

In [117]:
a= [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [121]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [123]:
a = [1,2,4,3,5]
a.sort()
a

[1, 2, 3, 4, 5]

In [124]:
b = ['a', 'd', 'b']
b.sort()
b

['a', 'b', 'd']

In [125]:
a = [1,2,3]
a.reverse()
a

[3, 2, 1]

In [127]:
a = ['a', 'b', 'c']
a.index('b')

1

In [130]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [133]:
a = [1, 2, 3, 3, 4]
a.remove(3)
a

[1, 2, 3, 4]

In [140]:
a = [1,2,3]
b = a.pop()
b

3

In [141]:
a

[1, 2]

In [144]:
a = [1,2,3]
b = a.pop(1)
b

2

In [145]:
a

[1, 3]

In [147]:
a = [1,1,2,3]
a.count(1)

2

In [148]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [149]:
b = [6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [150]:
t1 = (1,)
t1

(1,)

In [151]:
t2 = (1,2,3)
t2

(1, 2, 3)

In [152]:
t3 = (1,2,3,('a','b'))
t3

(1, 2, 3, ('a', 'b'))

In [153]:
del t1[0] # error

TypeError: 'tuple' object doesn't support item deletion

In [154]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [161]:
dic = {'name' : 'Pey', 'phone' : '91223919', 'birth' : '1118'}
dic

{'name': 'Pey', 'phone': '91223919', 'birth': '1118'}

In [157]:
a = {"1" : "a"}
a['2'] = 'b'
a

{'1': 'a', '2': 'b'}

In [158]:
a[3] = [1,2,3]
a

{'1': 'a', '2': 'b', 3: [1, 2, 3]}

In [159]:
del a['1']
a

{'2': 'b', 3: [1, 2, 3]}

In [160]:
del a['2']
a

{3: [1, 2, 3]}

In [162]:
b = dic['name']
b

'Pey'

In [164]:
a = {1: 'a', 2: 'b', 'name': 3, 'list':[1,2,3,4]}
a.keys()

dict_keys([1, 2, 'name', 'list'])

In [165]:
a.values()

dict_values(['a', 'b', 3, [1, 2, 3, 4]])

In [166]:
a.items()

dict_items([(1, 'a'), (2, 'b'), ('name', 3), ('list', [1, 2, 3, 4])])

In [167]:
a.clear()

In [168]:
a = {1: 'a', 2: 'b', 'name': 3, 'list':[1,2,3,4]}
a.get(1)

'a'

In [169]:
'name' in a

True

In [170]:
"3" in a

False

In [171]:
a = set("Hello")
a

{'H', 'e', 'l', 'o'}

In [172]:
b = set([1,2,3,1])
b

{1, 2, 3}

In [173]:
a =set([1,2,3,1])
b = list(a)
b

[1, 2, 3]

In [174]:
b[0]

1

In [175]:
c = tuple(a)
c[2]

3

In [176]:
type(c)

tuple

In [177]:
a = set([1,2,3])
b = set([3,4,5])
a & b

{3}

In [178]:
a | b

{1, 2, 3, 4, 5}

In [179]:
a - b

{1, 2}

In [180]:
a= set([1,2,3])
a.add(4)
a

{1, 2, 3, 4}

In [181]:
a.update([4,5,6,7])
a

{1, 2, 3, 4, 5, 6, 7}

In [182]:
a.remove(4)
a

{1, 2, 3, 5, 6, 7}

In [183]:
a.remove(7)
a

{1, 2, 3, 5, 6}

In [184]:
a = True
b = False
type(a)

bool

In [185]:
a

True

In [186]:
b

False

In [187]:
 1 == 1

True

In [188]:
2 > 1

True

In [189]:
2 < 1

False

In [193]:
a = [1,2,3]
while a:
    print(a.pop())

3
2
1

In [195]:
if 0:
    print("False")
else:
    print("True")

True

In [196]:
bool("a")

True

In [197]:
a = [1,2,3]
b = a # 값만 복사
a is b

True

In [198]:
c = [2,3]
a is c

False

In [199]:
b.append(5)
b

[1, 2, 3, 5]

In [200]:
a

[1, 2, 3, 5]

In [201]:
a = [1,2,3]
b = a[:]
a is b

False

In [202]:
b.append(5)
b

[1, 2, 3, 5]

In [203]:
a

[1, 2, 3]

In [206]:
from copy import copy
d = copy(a)
a is d

False

In [214]:
a, b, c = [1,2,3]

In [208]:
a

1

In [209]:
b

2

In [215]:
c

3

In [216]:
c = (a, b) = 3, 4
c

(3, 4)

In [217]:
type(c)

tuple

In [218]:
c = [a, b] = [[5, 6], (7, 8)]
c

[[5, 6], (7, 8)]

In [219]:
a, b = b, a
a

(7, 8)

In [220]:
b

[5, 6]

In [261]:
a = "000101-3682746"
'20' + a[0:6]

'20000101'

In [262]:
a[7]

'3'

In [238]:
a = "a:b:c:d"
a = a.replace(":", "_")
a

'a_b_c_d'

In [263]:
b = [1,3,5,4,2]
b.sort()
b.reverse()
b

[5, 4, 3, 2, 1]

In [265]:
d = [1, 2, 2, 1, 3, 4, 4, 4, 5]
c_set = set(d)
c_list = list(c_set)
c_list

[1, 2, 3, 4, 5]

In [268]:
dic = {'Eng' : 75, 'Mat' : 95, 'Sci' : 85}
m = ((dic.get('Eng') + dic.get('Mat') + dic.get('Sci')) / len(dic))
m

85.0