In [4]:
a = 3
if a < 1:
    # 수행
    print("a")
elif a > 2:
    #todo
    print("b")
else:
    #todo
    print("c")

b

In [5]:
x = 3
y =2
x > y

True

In [6]:
y < x

True

In [7]:
x < y

False

In [8]:
x is not y

True

In [9]:
x is y

False

In [13]:
money = 2000
if money >= 3000:
    print("택시")
elif money >= 5000:
    print("ㅇㅇ")
else:
    print("워킹")

워킹

In [14]:
money = 2000
card = False
if money >= 3000 or card:
    print("택시를 타라")
else:
    print("걸어라")

걸어라

In [16]:
if 4 in [1,2,3]:
    print("true")
else:
    print("false")

false

In [18]:
a = {1:[1,2,3], 2:[4,5,6]}
3 in a

False

In [19]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass
else:
    print("카드")

In [20]:
if 'm' in pocket: pass
else: print("카드")

카드

In [ ]:
score = 50
if score >= 60:
    message = 'success'
else:
    message = 'failure'

In [ ]:
message = "success" if score >= 60 else "failure"

In [24]:
freeHit = 0
while freeHit < 10:
    freeHit = freeHit + 1
    print("나무를 {}번 찍었습니다.".format(freeHit))
    if freeHit == 10:
        print("나무가 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [28]:
while True:
    number = int(input())
    if number == 4:
        break;
    else:
        print('4번으로 while문 종료 가능')

4

In [30]:
test = [1,2,3]
for i in test:
    print(i*2)

2
4
6

In [31]:
a = [(1,2),(3,4),(5,6)]
for first, last in a:
    print(first, last, first+last)

1 2 3
3 4 7
5 6 11

In [32]:
a = [(1,2,3),(3,4,5),(5,6,7)]
for first, last, f in a:
    print(first, last, f, first+last+f)

1 2 3 6
3 4 5 12
5 6 7 18

In [34]:
a = [(1,2),(3,4),(5,6)]
for i, (first, last) in enumerate(a):
    print(i, first + last)

0 3
1 7
2 11

In [35]:
marks = [90, 25, 67, 45, 80]
for i, mark in enumerate(marks):
    if mark >= 60:
        print(f"{i+1}번 학생은 합격")
    else:
        print(f"{i+1}번 학생은 불합격")

1번 학생은 합격
2번 학생은 불합격
3번 학생은 합격
4번 학생은 불합격
5번 학생은 합격

In [47]:
marks = [90, 25, 67, 45, 80]
for i, mark in enumerate(marks):
    if mark < 60:
        continue
    print(f"{i+1}번 학생은 합격")

1번 학생은 합격
3번 학생은 합격
5번 학생은 합격

In [40]:
range(10)

range(0, 10)

In [42]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [48]:
math_list = [90, 25, 67, 45, 80]
english_list = [80, 85, 61, 99, 25]
for i in range(len(math_list)):
    average = (math_list[i] + english_list[i]) // 2
    if average < 60:
        continue
    print(f"{i+1}번 학생은 합격")

1번 학생은 합격
3번 학생은 합격
4번 학생은 합격

In [50]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
result

[3, 6, 9, 12]

In [51]:
a = [1,2,3,4]
result=[num*3 for num in a]
result

[3, 6, 9, 12]

In [52]:
a = [1,2,3,4]
result = [num*3 for num in a if num % 2 == 0]
result

[6, 12]

In [57]:
a = [1,2,3,4]
result = []
for num in a:
    if num % 2 == 0:
        result.append(num*3)
result

[6, 12]